<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="src\assets\img\KenzieHabit.png" alt="logo">
        <div id="containerUserInfo">
        
        </div>
    </header>
    <div>
        <h2>Tarefas</h2>
        <h2>Todos</h2>
        <h2>Concluídos</h2>
        <button>Criar</button>
    </div>

    <table>
        <tr>
            <th>Status</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Editar</th>
        </tr>
      </table>
</body>
</html>