<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>KenzieHabit</title>
</head>

<body>
    <header>
        <img src="../assets/img/KenzieHabit.png" alt="logo">
        <div id="containerUserInfo">
            <img src="../assets/img/user.png" alt="user">
        </div>
    </header>
    <main>
        <section class="userContainer">
            <!-- <img src="src\assets\img\Ellipse 2.png" alt="userImage"> -->
            <h2>Julia Silva Camargo</h2>
        </section>
        <section class="habitsContainer">
            <div class="task">
                <h2>Tarefas</h2>
            </div>
            <nav clas="filterButtons">
                <button id="showAll">Todos</button>
                <button id="showConcluded">Concluidos</button>
                <button id="createHabbitButton">Criar</button>
            </nav>
            <table class="table">
                <tr>
                    <th>Status</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Editar</th>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>fazer exercicios segunda pela manhã</td>
                    <td>ir correr na praça proximo da padaria</td>
                    <td>saude</td>
                    <td><button>editar</button></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>fazer exercicios segunda pela manhã</td>
                    <td>ir correr na praça proximo da padaria</td>
                    <td>saude</td>
                    <td><button>editar</button></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></input></td>
                    <td>fazer exercicios segunda pela manhã</td>
                    <td>ir correr na praça proximo da padaria</td>
                    <td>saude</td>
                    <td><button>editar</button></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>fazer exercicios segunda pela manhã</td>
                    <td>ir correr na praça proximo da padaria</td>
                    <td>saude</td>
                    <td><button>editar</button></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>fazer exercicios segunda pela manhã</td>
                    <td>ir correr na praça proximo da padaria</td>
                    <td>saude</td>
                    <td><button>editar</button></td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>fazer exercicios segunda pela manhã</td>
                    <td>ir correr na praça proximo da padaria</td>
                    <td>saude</td>
                    <td><button>editar</button></td>
                </tr>
            </table>
            <button class="loadMore" id="loadMore1">Carregar Mais </button>
        </section>
    </main>
    </body>
    <script type="module" src="../scripts/home.js" ></script>