<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./modalhabit.css">
</head>
<body>
    <div class="container-deleteHabits">
    <div class="header-deleteHabits">
        <h3>Excluir Hábito</h3>
        <button class="btn btn-X">X</button>
    </div>
    <h3>Certeza que deseja excluir esse hábito?</h3>
    <p>Após executar essa ação não será possível desfazer</p>
    <div class="btn-saveChangesDelete">
<button type="button" class="btn btn-cancel">Cancelar</button>
<button type="button" class="btn btn-yesDelete">Sim, excluir esse hábito</button>
    </div>
    </div>
</body>
</html>