<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal to Create Habit</title>
    <link rel="stylesheet" href="../css/modalHabit.css">
</head>

<body>
    <div class="createHabits" id="createHabits">
        <div class=" header-createHabits">
            <h3>Editar Perfil</h3>
            <button class="btn btn-X">X</button>
        </div>
        <form>
            <label for="name">Nome</label><br>
            <input type="text" placeholder="Júlia Silva Camargo" class="name"><br>
            <label for="image">URL da imagem do perfil</label><br>
            <input type="text" placeholder="https://imagem.com.br" class="image"><br>
            <button type="button" class="btn btn-saveChangesProfile">Salvar Alterações</button>
            </form>
    </div>

</body>

</html>