<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal to Create Habit</title>
    <link rel="stylesheet" href="./modalhabit.css">
</head>

<body>
    <div class="createHabits" id="createHabits">
        <div class=" header-createHabits">
            <h3>Criar Hábito</h3>
            <button class="btn btn-X">X</button>
        </div>
        <form>
            <label for="titulo">Título</label><br>
            <input type="text" placeholder="Digitar Título" class="title"><br>
            <label for="description">Descrição</label><br>
            <input type="text" placeholder="Digitar descrição" class="description"><br>
            <label for="category" class="category">Categoria</label><br>
            <select name="selectcategory" class="selectcategory">
                <option value="">Selecionar categoria</option>
                <option value="saude">&#10084 Saúde</option>
                <option value="lazer">Lazer</option>
                <option value="trabalho">Trabalho</option>
                <option value="estudo">Estudo</option>
                <option value="casa">Casa</option>
                <option value="outro">Outros</option>
            </select><br>
            <button type="button" class="btn btn-createHabits">Inserir</button>
        </form>
    </div>
<script src="../scripts/home.js" type="module"></script>
</body>

</html>