@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

:root {
  --brand-1: #415AF3;
  --brand-2: #4150D2;
  --brand-3: #D7E4FB;

  --grey-1: #212529;
  --grey-2: #343A40;
  --grey-3: #DEE2E6;
  --grey-4: #E9ECEF;
  --grey-5: #F1F3F5;
  --grey-6: #FFFFFF;

  --sucess: #56CF8E;
  --error-1: #E64445;
  --error-2: #F03839;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  text-decoration:none;
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
}
section{
  width: 70%;
  max-width: 1080px;
  height: 485px;
  display: flex;
  flex-direction:column;
  box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.kenzieHabit{
  width: 100%;
  height: 30%;
  padding:5% 8%;
  background-color: #4150D2;
  color:white;
  display: flex;
  flex-direction:column;
  justify-content: center;
  gap:10%;
  border-radius:10px 10px 0 0;
}

.login{
  display: flex;
  flex-direction:column;
  align-items: center;
  padding:5%;
}

.login h1{
  margin-bottom:25px;
}

form{
  display: flex;
  flex-direction:column;
}
form input{
  padding-left:18px;
  background-color: var(--grey-3);
  border: none;
  border-radius: 4px;
} 

form button{
  border: none;
  color: var(--grey-6);
  background-color: var(--brand-2);
  border-radius: 4px;
}

form input,button{
  max-width:376px;
  min-width:290px;
  height: 40px;
  margin:10px 0;
}

@media (min-width:1024px){
  section{
    display: flex;
    flex-direction:row;
  }
  .kenzieHabit{
    width: 50%;
    height: 100%;
    padding:15% 8%;
    display: flex;
    flex-direction:column;
    justify-content: start;
    gap:10%;
    border-radius:10px 0 0 10px;
    
  }
  
  .login div{
    width: 100%;
    display: flex;
    justify-content: start;
    padding-left:15px;
  }
  
  .login{
    width: 50%;
    padding:10% 10%;
    justify-content: center;
  }
}